<div class="row">
  <!-- left -->
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="about-site text-left">
      <h3 data-translate="" class="ng-scope">Om Geodata.se</h3>
      <p data-translate="" class="ng-scope">I Geodataportalen kan du enkelt söka, hitta och titta på geodata.</p>
      <!-- <img alt="" src="/link/787c79ac42e74b269f116ea3bdcd7f2e.aspx" width="200" height="31"> -->
      <p data-translate="" class="ng-scope">Lantmäteriet är nationell samordnare för geodataområdet och Sveriges kontaktpunkt för Inspire-genomförandet.</p>
      <p>
      </p><p>
      <img src="../../catalog/views/sweden/images/footer-ruler.png"></p>
    </div>
  </div>
  <!-- middle -->
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="site-map text-center">
      <h3>snabblänkar</h3>
      <!-- <p class="special-border-bottom">&nbsp;</p> -->
      <ul>
        <li><a href="https://www.geodata.se/kontakt/kontakta-oss/" title="Länk till kontakta oss" target="_top" data-translate="" class="ng-scope">Kontakt</a></li>
        <li><a href="https://www.geodata.se/kontakt/fragor-och-svar/" title="Länk till frågor och svar" target="_top" data-translate="" class="ng-scope">Frågor och svar</a></li>
        <li><a href="https://www.geodata.se/senaste/prenumerera-via-rss/" title="RSS" target="_top">RSS</a></li>
      </ul>
    </div>
  </div>
  <!-- right -->
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="geodata-contact text-right">
      <h3>geodata.se</h3>
      <!-- <p class="special-border-bottom">&nbsp;</p> -->
      <p class="clfx">
        <br>Lantmäteriet,
        <br>Lantmäterigatan 2C
        <br>80182 Gävle 
        <br>Telefon: 0771-63 63 63
        <br>E-post: <a href="mailto:geodatasekretariatet@lm.se">geodatasekretariatet@lm.se</a>
        <br><a href="https://www.geodata.se" title="Webbplatsen geodata.se" target="_top">www.geodata.se</a>
      </p>
    </div>
  </div>
</div>
