<div class="row">
  <!-- left -->
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="about-site text-left">
      <h3 data-translate="">aboutGeodata</h3>
      <p data-translate="">aboutGeodataportal&nbsp;</p>
      <p data-translate="">aboutLm&nbsp;</p>
      <p>
        <img src="../../catalog/views/sweden/images/footer-ruler.png">
      </p>
    </div>
  </div>
  <!-- middle -->
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="site-map text-center">
      <h3>snabblänkar</h3>
      <ul>
        <li><a href="https://www.geodata.se/kontakt/kontakta-oss/" title="Länk till kontakta oss" target="_top" data-translate="">contact</a></li>
        <li><a href="https://www.geodata.se/kontakt/fragor-och-svar/" title="Länk till frågor och svar" target="_top"data-translate="">questionsAnswer</a></li>
        <li><a href="https://www.geodata.se/senaste/prenumerera-via-rss/" title="RSS" target="_top">RSS</a></li>
      </ul>
    </div>
  </div>
  <!-- right -->
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="geodata-contact text-right">
      <h3>geodata.se</h3>
      <p class="clfx">
        <br>Lantmäteriet,
        <br>Lantmäterigatan 2C
        <br>80182 Gävle 
        <br>Telefon: 0771-63 63 63
        <br>E-post: <a href="mailto:geodatasekretariatet@lm.se">geodatasekretariatet@lm.se</a>
        <br><a href="https://www.geodata.se" title="Webbplatsen geodata.se" target="_top">www.geodata.se</a>
      </p>
    </div>
  </div>
</div>
