<header class="gn-header"
        data-ng-show="gnCfg.mods.header.enabled && gnCfg.mods.header.isLogoInHeader">
  <div class="container">
    <div class=row>
      <div class="col-md-12 text-{{gnCfg.mods.header.logoInHeaderPosition}}">
        <a data-gn-active-tb-item="{{gnCfg.mods.home.appUrl}}">
          <img class="{{gnCfg.mods.header.logoInHeaderPosition}}"
               alt="{{'siteLogo' | translate}}"
               data-ng-src="{{gnUrl}}../images/logos/{{info['node/id'] || info['system/site/siteId']}}.png?random{{info['system/site/lastUpdate']}}"/>
          </a>
      </div>
    </div>
  </div>
</header>
<div class="navbar navbar-default gn-top-bar"
     role="navigation"
     data-ng-show="gnCfg.mods.header.enabled"
     data-ng-include="'../../catalog/views/sweden/templates/top-toolbar.html'"
     xmlns="http://www.w3.org/1999/html">
</div>

<!-- Mail comment popup -->
<div id="mail-popup" class="modal fade" data-ng-controller="SweMailController">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" data-translate="">leaveComment</h4>
      </div>
      <div class="modal-body">
        
        <div id="mail-feedback-result" data-ng-show="(feedbackResult != null) && (feedbackResultError == false)">
          <p>{{feedbackResult}}</p>

          <div class="btn-cont">
            <div class="mail-actions-cont">
              <a href="" class="link-btn publisher-user-login-btn" data-ng-click="close()"data-translate="">cancel</a>
            </div>
          </div>
        </div>

        <div id="mail-form" data-ng-show="(feedbackResult == null) || (feedbackResultError == true)">
          <div class="alert alert-danger" data-ng-show="feedbackResultError == true">{{feedbackResult}}</div>
          <form name="feedbackForm" novalidate>

            <!-- NAME -->
            <div class="form-group" data-ng-class="{'form-row': true, 'has-error' : feedbackForm.name.$invalid && !feedbackForm.name.$pristine }">
              <label data-translate="">name</label>
              <input type="text" class="form-control" name="name" ng-model="user.username" required>
              <span class="errorField" data-ng-show="feedbackForm.name.$invalid && !feedbackForm.name.$pristine" class="help-block" data-translate="">nameMissing</span>
            </div>

            <!-- EMAIL -->
            <div class="form-group" data-ng-class="{'form-row': true, 'has-error' : feedbackForm.email.$invalid && !feedbackForm.email.$pristine }">
              <label data-translate="">email</label>
              <input type="email" class="form-control" name="email" ng-model="user.email" required>
              <span class="errorField" data-ng-show="feedbackForm.email.$invalid && !feedbackForm.email.$pristine" class="help-block" data-translate="">invalidEmail</span>
            </div>

            <!-- COMMENT -->
            <div class="form-group" data-ng-class="{'form-row': true, 'has-error' : feedbackForm.comment.$invalid && !feedbackForm.comment.$pristine }">
              <label class="label-text-area" data-translate="">comments</label>
              <textarea class="form-control" name="comment" ng-model="user.comments" required></textarea>
              <span class="errorField" data-ng-show="feedbackForm.comment.$invalid && !feedbackForm.comment.$pristine" class="help-block" data-translate="">commentMissing</span>
            </div>
          </form>
        </div>

      </div>
      <div class="modal-footer" data-ng-show="(feedbackResult == null) || (feedbackResultError == true)">
        <button type="button" class="btn btn-primary" data-ng-click="sendMail()" data-ng-disabled="!feedbackForm.$valid" data-translate="">sendComment</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-translate="">cancel</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /#mail-popup -->

<!-- Help page popup -->
<div data-ng-controller="SweHelpController"></div>

<!-- Create metadata popup -->
<div id="newmetadata-popup" class="modal fade" data-ng-controller="SweNewMetadataController">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" data-translate="">createMetadata-title</h4>
      </div>
      <div class="modal-body">
        <div class="margin-bottom-small">
          <span class="label">{{'createMetadata-desc' | translate }}:</span>
          <div data-swe-tooltip=""
                data-title="{{ 'createMetadataTemplateTooltip-title' | translate }}"
                data-text="{{ 'createMetadataTemplateTooltip-desc' | translate }}"
                data-link="{{ 'createMetadataTemplateTooltip-link' | translate }}"></div>
        </div>

        <form name="newMetadataForm" novalidate>
          <div data-ng-repeat="tpl in tpls">
            <label>
              <input type="radio"
                     name="gn-record-type"
                     id="radio-{{type}}"
                     value="{{type}}"
                     data-ng-click="setActiveTpl(tpl)"
                     data-ng-checked="tpl==activeTpl"
                     class="ngr-radio"/>
              <span class="ngr-radio-label">
                {{tpl.title || tpl.defaultTitle}}
              </span>
            </label>
          </div>

          <div class="row" data-ng-show="groups && groups.length > 1">
            <label class="control-label ngr-md-label">
              <span data-translate="">createMetadata-group</span>:

              <div data-swe-tooltip=""
                   data-title="{{ 'createMetadataGroupTooltip-title' | translate }}"
                   data-text="{{ 'createMetadataGroupTooltip-desc' | translate }}"
                   data-link="{{ 'createMetadataGroupTooltip-link' | translate }}"></div>
            </label>

            <div data-groups-combo=""
                 data-owner-group="ownerGroup" 
                 lang="lang"
                 data-groups="groups" 
                 data-profile="Editor" 
                 data-exclude-special-groups="true"/>
          </div>

          <!-- <div class="btn-cont">
            <div class="mail-actions-cont">
              <a href="" class="link-btn publisher-user-login-btn" data-ng-click="createNewMetadata()" data-ng-disabled="!newMetadataForm.$valid" data-translate="">createMetadata-create</a>
              <a href="" class="link-btn publisher-user-login-btn" data-ng-click="close()" data-translate="">createMetadata-cancel</a>
            </div>
          </div> -->

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-ng-click="createNewMetadata()" data-ng-disabled="!newMetadataForm.$valid" data-translate="">createMetadata-create</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" data-translate="">cancel</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /#newmetadata-popup -->

<div role="main"
     data-ng-controller="GnSearchController">
  <cookiewarning></cookiewarning>
  <div class="" data-ng-controller="gnsSweden">
    <gn-extend-mainctrl></gn-extend-mainctrl>

    <div class="site-wrapper"
         data-ng-search-form=""
         data-runSearch="true">

      <!-- pre-defined maps -->
      <div class="panel panel-default gn-top-maps" role="row">
        <div class="panel-heading"
             data-ng-click="toggleTopMaps()"
             data-gn-slide-toggle="">
        </div>
        <div class="panel-body">
          <div class="site-image-filter" data-ng-class="fluidLayout ? 'container-fluid' : 'container'">
            <h4 data-translate="">predefinedMapsTitle</h4>
              <div id="imageFilter"
                    data-swe-predefined-maps-filter 
                    ng-hide="collapsed"
                    data-config-url="{{predefinedMapsUrl}}"
                    data-show-map-fn="showFullMapPanel"
                    data-show-map-fn-api="showFullMapPanelApi"
                    data-selected-map="{{selectedPredefinedMap}}"
                    data-is-image-clicked="is_image_clicked">
              </div>
          </div>
        </div>
      </div>

      <!-- Map -->
      <div class="gn-search-map"
          data-gn-map-field="searchObj.searchMap"
          data-template="../../catalog/views/sweden/directives/partials/mapfield.html"
          data-gn-map-field-geom="searchObj.params.geometry"
          data-gn-map-field-opt="searchObj.mapfieldOption">
      </div>

      <div data-gn-saved-selections="">
        <!-- search results -->
        <div data-ng-include="'../../catalog/views/sweden/templates/results.html'"/>
        <!-- Result popup -->
        <div data-ng-include="'../../catalog/views/sweden/templates/result.html'"/>
      </div>

    </div>
    <div class="site-side-map-cont" data-ng-search-form="">
      <div class="site-side-map-wrapper">
        <div class="map-cont">
          <div class="tools resize-tools">
            <button class="btn btn-default"
                    type="button"
                    id="map-panel-resize"
                    data-ng-click="showFullMap()">
              <span class="icon-cursor"></span>
            </button>
            <button class="btn btn-default"
                    type="button"
                    id="map-panel-resize-max"
                    data-ng-click="showSmallMap()">
              <span class="icon-cursor icon-flipped"></span>
            </button>
            <button class="btn btn-default"
                    type="button"
                    id="map-panel-resize-medium"
                    data-ng-click="hideMapPanel()">
              <span class="icon-cursor icon-flipped"></span>
            </button>
          </div>

          <div gn-main-viewer=""
                data-map="searchObj.viewerMap">
          </div>
        </div>
        <!-- /.map-cont -->
      </div>
    </div>
    <!-- /.site-side-map-cont -->
  </div>
</div>


<div class="navbar navbar-default gn-bottom-bar" role="navigation"
     data-ng-show="gnCfg.mods.footer.enabled"
     data-ng-include="'../../catalog/views/sweden/templates/footer.html'">
</div>
