<form class="form-horizontal"
      role="form">
  <input type="hidden" name="_csrf" value="{{csrf}}"/>
  <!--ANY full text search input-->
  <div class="row gn-top-search">
    <div class="container">

      <div class="col-md-offset-1 col-md-10 relative">
        <div class="input-group gn-form-any">
          <button data-gn-user-searches-list=""
                  data-ng-cloak=""
                  data-mode="button"/>

          <input type="text"
                class="form-control input-lg"
                id="gn-any-field"
                data-ng-model="searchObj.params.any"
                placeholder="{{'anyPlaceHolder' | translate}}"
                aria-label="{{'anyPlaceHolder' | translate}}"
                data-ng-keyup="$event.keyCode == 13 && triggerSearch()"
                data-typeahead="address for address in getAnySuggestions($viewValue)"
                data-typeahead-loading="anyLoading" class="form-control"
                data-typeahead-min-length="1"
                data-typeahead-focus-first="false"
                data-typeahead-wait-ms="300">

          <div class="input-group-btn">


            <button type="button"
                    data-ng-click="triggerSearch()"
                    title="{{'search' | translate}}"
                    class="btn btn-primary btn-lg">
              <i class="fa fa-search"></i>
              <span class="sr-only" data-translate="">search</span>
            </button>

            <button type="button"
                    data-ng-click="resetSearch(searchObj.defaultParams);"
                    title="{{'ClearTitle' | translate}}"
                    class="btn btn-primary btn-lg">
              <i class="fa fa-times"></i>
              <span class="sr-only" data-translate="">ClearTitle</span>
            </button>
          </div>
        </div>
      </div>


    </div>
  </div>
</form>
