<div class="gn-search-filter advancedSearchForm">
  <div class="row gn-search-filter-datepickers">
    <div class="col-md-8">
      <div data-gn-period-chooser="resourcesCreatedTheLast"
            data-date-from="searchObj.params.creationDateFrom"
            data-date-to="searchObj.params.creationDateTo"
            class="gn-search-filter-datepicker">
      </div>
    </div>
  </div>
  <!-- /.gn-search-filter-datepickers -->
  <div class="row gn-search-filter-datepickers">
    <div class="col-md-8">
      <div data-gn-period-chooser="recordsCreatedTheLast"
            data-date-from="searchObj.params.dateFrom"
            data-date-to="searchObj.params.dateTo"
            class="gn-search-filter-datepicker">
      </div>
    </div>
  </div>
  <!-- /.gn-search-filter-datepickers -->
  <div class="row gn-search-filter-lists">
    <div class="col-md-4">
      <label for="orgNameF"
              class="control-label gn-search-filter-list">
        <span data-translate="" class="control-label-span">orgName</span>
        <input type="text" id="orgNameF" value=""
                class="form-control"
               gn-values="searchObj.params.orgName"
               gn-typeahead="orgNameOptions"/>
      </label>
    </div>
    <div class="col-md-4">
      <label for="categoriesF"
             class="control-label gn-search-filter-list">
        <span data-translate="" class="control-label-span">categories</span>
        <input type="text" id="categoriesF" value=""
               class="form-control"
               gn-typeahead="categoriesOptions"
               gn-values="searchObj.params._cat"/>
      </label>
    </div>
    <div class="col-md-4">
      <label for="keywordsF"
             class="control-label gn-search-filter-list">
        <span data-translate="" class="control-label-span">keywords</span>
        <input type="text" id="keywordsF" value=""
                class="form-control"
               gn-values="searchObj.params.keyword"
               gn-typeahead="keywordsOptions"/>
      </label>
    </div>
  </div>
  <!-- /.gn-search-filter-lists -->
</div>
