<div class="gn-search-filter advancedSearchForm">
  <div class="row gn-search-filter-datepickers">
    <div class="col-md-8">
      <div data-gn-period-chooser="resourcesCreatedTheLast"
            data-date-from="searchObj.params.creationDateFrom"
            data-date-to="searchObj.params.creationDateTo"
            class="gn-search-filter-datepicker">
      </div>
      <div data-swe-tooltip=""
           data-title="{{ 'dateFilterTooltip-title' | translate }}"
           data-text="{{ 'dateFilterTooltip-desc' | translate }}"
           data-link="{{ 'dateFilterTooltip-link' | translate }}"></div>
    </div>
    <div class="col-md-4">
      <!-- <div class="filter-colm geo-filter-cont" id="abId0.6149162834088198">
        <label data-translate="searchGeographicFilter"></label>
        <div class="live-search-dd-cont" id="abId0.436428290830839" data-ng-controller="SweGeoSuggestionsController">
          <div class="custom-fld-cont" id="abId0.04694894537269523" abineguid="642F5A31C48A429E83484111F435AA09">
            <span class="icon-search"></span>
            <input id="namesearch-id" type="text" placeholder="" class="live-search-query"
                   data-ng-model="searchObj.namesearch"
                   data-ng-model-options="modelOptionsFormGeo"  
                   data-typeahead="namesearch as (namesearch.Name + ', ' + namesearch.Type) for namesearch in getNameSearch($viewValue) "
                   data-typeahead-on-select="drawPolygonInMap()"
                   data-typeahead-loading="anyLoading"
                   data-typeahead-min-length="1"
                   data-typeahead-focus-first="false"
                   data-ng-controller="SweGeoWfsGetFeatureController">
          </div>
          <ul class="live-search-cont">
            <li><a href="">malmo<span>kommun</span></a></li>
            <li><a href="">malmo<span>kommun</span></a></li>
            <li><a href="">malmo<span>kommun</span></a></li>
            <li><a href="">malmo<span>kommun</span></a></li>
          </ul>
        </div>
      </div> -->
      <!-- /.filter-colm geo-filter-cont -->
      <!-- <div class="filter-colm draw-map-link-colm" data-ng-controller="SweGeoFreeHandPolygonController" >
        <div data-ng-click="drawFreeHandPolygonInMap()">
          <a href="" class="fltr-link draw-map-link"><span data-translate="">drawingOnMap</span></a>
        </div>
        <div data-swe-tooltip=""
          data-title="{{ 'geographicalFilterTooltip-title' | translate }}"
          data-text="{{ 'geographicalFilterTooltip-desc' | translate }}"
          data-link="{{ 'geographicalFilterTooltip-link' | translate }}">
        </div>
      </div> -->
      <!-- /.filter-colm draw-map-link-colm -->
    </div>
  </div>
  <!-- /.gn-search-filter-datepickers -->
  <div class="row gn-search-filter-datepickers">
    <div class="col-md-8">
      <div data-gn-period-chooser="recordsCreatedTheLast"
            data-date-from="searchObj.params.dateFrom"
            data-date-to="searchObj.params.dateTo"
            class="gn-search-filter-datepicker">
      </div>
    </div>
  </div>
  <!-- /.gn-search-filter-datepickers -->
  <div class="row gn-search-filter-lists">
    <div class="col-md-4">
      <label for="orgNameF"
              class="control-label gn-search-filter-list">
        <span data-translate="" class="control-label-span">orgName</span>
        <input type="text" id="orgNameF" value=""
                class="form-control"
               gn-values="searchObj.params.orgName"
               gn-typeahead="orgNameOptions"/>
      </label>
    </div>
    <div class="col-md-4">
      <label for="categoriesF"
             class="control-label gn-search-filter-list">
        <span data-translate="" class="control-label-span">categories</span>
        <input type="text" id="categoriesF" value=""
               class="form-control"
               gn-typeahead="categoriesOptions"
               gn-values="searchObj.params._cat"/>
      </label>
    </div>
    <div class="col-md-4">
      <label for="keywordsF"
             class="control-label gn-search-filter-list">
        <span data-translate="" class="control-label-span">keywords</span>
        <input type="text" id="keywordsF" value=""
                class="form-control"
               gn-values="searchObj.params.keyword"
               gn-typeahead="keywordsOptions"/>
      </label>
    </div>
  </div>
  <!-- /.gn-search-filter-lists -->

  <!-- Facets -->
  <div data-ng-show="searchResults.records.length > 0"
       data-swe-facet-dimension-list="searchResults.dimension"
       data-params="searchObj.params"
       data-facet-type="facetsSummaryType"
       data-current-facets="currentFacets">
  </div>
</div>
