<div class="row" data-ng-controller="SwePredefinedMapsController">
  <div class="col-lg-5">
    <div class="panel panel-default">
      <div class="panel-heading" data-translate=""> predefinedmaps </div>

      <div class="panel-body">

        <input class="form-control"
               data-ng-model="predefinedMapSearch.$"
               data-ng-show="predefinedMaps.length > 1"
               autofocus=""
          placeholder="{{'filter' | translate}}"/>
        <input type="hidden" data-ng-model="predefinedMapSelected.id"/>
        <div class="list-group">
          <a href="" class="list-group-item" data-ng-repeat="m in pageItems()"
            data-ng-click="selectPredefinedMap(m)">
            {{m.name}} {{m.label[lang]}}</a>
          <span data-gn-pagination-list=""
                data-items="predefinedMaps | filter:predefinedMapSearch"
                data-cache="predefinedMaps"/>
        </div>
        <button type="button" class="btn btn-primary btn-block" data-ng-click="addPredefinedMap()">
          <i class="fa fa-plus"/>
          <span data-translate="">newPredefinedMap</span>
        </button>

        <div data-gn-need-help="administrator-guide/managing-classification-systems/managing-categories.html"></div>
      </div>
    </div>
  </div>

  <div class="col-lg-7" data-ng-hide="predefinedMapSelected.id==null">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span data-ng-hide="predefinedMapSelected.id == ''" data-translate="">updatePredefinedMap</span>
        <span data-ng-hide="predefinedMapSelected.id != ''" data-translate="">newPredefinedMap</span>
        <strong>{{predefinedMapSelected.label[lang]}}</strong>

        <div class="btn-toolbar">
          <button type="button" class="btn btn-primary pull-right"
            data-ng-disabled="!predefinedMapUpdated" data-ng-click="savePredefinedMap('#gn-predefinedmap-edit')"
            ><span class="fa fa-save"></span> {{"savePredefinedMap"|translate}}</button>
          <button type="button" class="btn btn-primary pull-right btn-danger"
            data-ng-hide="predefinedMapSelected.id == ''"
            data-ng-click="deletePredefinedMap(predefinedMapSelected.id)"
            ><span class="fa fa-times"></span> {{"deletePredefinedMap"|translate}}</button>
        </div>
      </div>
      <div class="panel-body">
        <form id="gn-predefinedmap-edit" class="form-horizontal" data-ng-keypress="updatingPredefinedMap()()">
          <fieldset>
            <input type="hidden" name="id" data-ng-model="predefinedMapSelected.id"
              value="{{predefinedMapSelected.id}}"> </input>

            <div>
              <label>
                <input type="checkbox" data-ng-model="predefinedMapSelected.enabled">
                <span data-translate="" class="ng-scope">Enabled</span>
              </label>
            </div>

            <div>
              <label data-translate="" class="col-lg-2 control-label">predefinedMapName</label>

              <input type="text" id="predefinedmapname" name="name" class="form-control" autofocus=""
                data-ng-model="predefinedMapSelected.name"> </input>
            </div>

            <div>
              <label data-translate="" class="col-lg-2 control-label">predefinedMapWmc</label>

              <textarea id="predefinedmapwmc" name="map" class="form-control" autofocus=""
                     data-ng-model="predefinedMapSelected.map"> </textarea>
            </div>

            <!-- Upload panel -->
            <div>
              <label for="group-logo-upload" class="control-label" data-translate="">groupLogo</label>

              <!--Display saved logo-->
              <div data-ng-show="predefinedMapSelected.image">
                <img data-ng-show="predefinedMapSelected.image" src="{{predefinedMapSelected.image}}"
                     style="max-width:128px; max-height:128px">
                <a href="" data-ng-click="deletePredefinedMapLogo()"
                   class="text-danger">
                  <i data-ng-show="predefinedMapSelected.image"
                     class="fa fa-times delete"></i>
                </a>
              </div>

              <div data-ng-show="!predefinedMapSelected.image">

                <!--Display logo picker from harvester logos-->
                <div class="row" data-ng-show="queue.length == 0">
                  <div class="col-md-5" translate>selectExistingLogo</div>
                  <div class="col-md-3">
                    <a href="" data-ng-click="predefinedMapSelected.logoFromHarvest = undefined"
                       class="text-danger pull-right">
                      <i data-ng-show="predefinedMapSelected.logoFromHarvest"
                         class="fa fa-times delete"></i>
                    </a>
                    <div class="" gn-logo-picker="groupSelected.logoFromHarvest"></div>
                  </div>
                </div>

                <!--Display logo upload input-->
                <div class="row" data-ng-show="!predefinedMapSelected.logoFromHarvest" id="group-logo-upload">
                  <div class="col-md-5" translate>upload</div>
                  <div class="col-md-7 panel panel-default" >
                    <div class="panel-body">

                        <span class="btn btn-success btn-block fileinput-button">
                            <i class="fa fa-plus fa-white"></i>
                            <span data-translate="">chooseOrDropResource</span>
                            <input type="file" id="group-logo" name="logofile" multiple="false">
                        </span>
                      <ul style="list-style: none">
                        <li data-ng-repeat="file in queue">
                          <div class="preview" data-file-upload-preview="file"></div>
                          {{file.name}} ({{file.type}} / {{file.size | formatFileSize}})
                          <i class="fa fa-trash-o" data-ng-click="clear(file)"></i>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </fieldset>
        </form>


        <!--<div data-ng-hide="!predefinedMapSelectedSelected.label">
          <h3><span data-translate="">translationForCategory</span> {{categorySelected.name}}</h3>
          <div data-gn-db-translation="categorySelected" data-type="category"/>
        </div>-->
      </div>
    </div>
  </div>
</div>
