<div class="row" data-ng-controller="GnPredefinedMapsController">
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading" data-translate=""> predefinedmaps </div>

      <div class="panel-body">

        <input class="form-control"
               data-ng-model="predefinedMapSearch.$"
               data-ng-show="predefinedMaps.length > 1"
               autofocus=""
          placeholder="{{'filter' | translate}}"/>
        <input type="hidden" data-ng-model="predefinedMapSelected['@id']"/>
        <div class="list-group">
          <a href="" class="list-group-item" data-ng-repeat="m in pageItems()"
            data-ng-click="selectPredefinedMap(m)">
            {{m.name}} {{m.label[lang]}}
            <span class="badge ng-scope">Position {{m.position}}</span>
          </a>
          <span data-gn-pagination-list=""
                data-items="predefinedMaps | filter:predefinedMapSearch"
                data-cache="predefinedMaps"/>
        </div>
        <button type="button" class="btn btn-primary btn-block" data-ng-click="addPredefinedMap()">
          <i class="fa fa-plus"/>
          <span data-translate="">newPredefinedMap</span>
        </button>

        <div data-gn-need-help="administrator-guide/managing-classification-systems/managing-categories.html"></div>
      </div>
    </div>
  </div>


  <div class="col-lg-8" data-ng-hide="predefinedMapSelected.id==null">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span data-ng-hide="predefinedMapSelected.id == ''" data-translate="">updatePredefinedMap</span>
        <span data-ng-hide="predefinedMapSelected.id != ''" data-translate="">newPredefinedMap</span>
        <!--<strong>{{predefinedMapSelected.label[lang]}}</strong>-->
        <strong>{{predefinedMapSelected.name}}</strong>

        <div class="btn-toolbar">
          <!-- data-ng-disabled="!predefinedMapUpdated" -->
          <button type="button" class="btn btn-primary pull-right"
                  data-ng-click="savePredefinedMap('#gn-predefinedmap-edit')"
          ><span class="fa fa-save"></span> {{"savePredefinedMap"|translate}}</button>
          <button type="button" class="btn btn-primary pull-right btn-danger"
                  data-ng-hide="predefinedMapSelected.id == ''"
                  data-ng-click="deletePredefinedMap(predefinedMapSelected.id)"
          ><span class="fa fa-times"></span> {{"deletePredefinedMap"|translate}}</button>
        </div>
      </div>
      <div class="panel-body">
        <form id="gn-predefinedmap-edit" name="gnPredefinedMapEdit"
              class="form-horizontal"
              method="POST" enctype="{{enctype}}" action="{{action}}"
              data-ng-keypress="updatingPredefinedMap()"
              data-file-upload="mdImportUploadOptions">
          <fieldset>
            <input type="hidden" name="id" data-ng-model="predefinedMapSelected.id"
                   value="{{predefinedMapSelected.id}}"> </input>

            <div>
              <label>
                <input type="checkbox" name="enabled" data-ng-model="predefinedMapSelected.enabled" value="true">
                <span data-translate="" class="ng-scope">Enabled</span>
              </label>
            </div>


            <div data-ng-class="gnPredefinedMapEdit.name.$error.required ? 'has-error' : ''">
              <label data-translate="">predefinedMapName</label>
              <input type="text" id="predefinedmapname"
                     name="name" class="form-control" autofocus=""
                     data-ng-required="true"
                     data-ng-model="predefinedMapSelected.name"> </input>
            </div>

            <div>
              <label data-translate="">predefinedMapDescription</label>

              <textarea id="predefinedmapdescription" name="description" class="form-control" rows="5" autofocus=""
                        data-ng-model="predefinedMapSelected.description"> </textarea>
            </div>

            <div>
              <label data-translate="">Position</label>

              <input type="number" name="position"  data-ng-model="predefinedMapSelected.position" class="form-control" />
              <p class="help-block" data-translate="">predefinedMapPositionHelp</p>
            </div>


            <div data-ng-class="gnPredefinedMapEdit.map.$error.required ? 'has-error' : ''">
              <label data-translate="">predefinedMapWmc</label>

              <textarea name="map"
                        class="form-control" rows="10" autofocus=""
                        data-ng-required="true"
                        data-ng-model="predefinedMapSelected.map"> </textarea>
              <p class="help-block" data-translate="">predefinedMapWmcHelp</p>
            </div>


            <div data-ng-class="gnPredefinedMapEdit.image.$error.required ? 'has-error' : ''"
                 data-ng-hide="predefinedMapSelected.image">
              <label data-translate="">predefinedMapImg</label>
              <span class="btn btn-success btn-block fileinput-button"
                     ng-class="{disabled: disabled}">
                <i class="fa fa-plus fa-white"/>
                <span data-translate="">chooseLogos</span>
                <input type="file"
                       name="image"
                       id="predefinedmap-file"
                       multiple="false"
                       data-ng-model="predefinedMapSelected.image"
                       data-ng-required="true"
                       autofocus="" ng-disabled="disabled"/>

              </span>

              <ul>
                <li data-ng-repeat="file in queue">
                  <div class="preview" data-file-upload-preview="file"></div>
                  {{file.name}} ({{file.type}} / {{file.size | formatFileSize}})
                  <i class="fa fa-times" data-ng-click="clear(file)"/>
                </li>
              </ul>

              <p class="help-block" data-translate="">predefinedMapImgHelp</p>
            </div>

            <!--Display saved logo-->
            <div data-ng-show="predefinedMapSelected.image">
              <img data-ng-show="predefinedMapSelected.image"
                   src="../../images/harvesting/{{predefinedMapSelected.image}}"
                   style="max-width:128px; max-height:128px">
              <a href="" data-ng-click="deleteImage()"
                 class="text-danger">
                <i data-ng-show="predefinedMapSelected.image"
                   class="fa fa-times delete"></i>
              </a>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
