<div class="site-filter-cont">
  <div class="site-filter-wrapper">
    <!-- Predefined search filters -->
    <div class="site-image-filter">
      <a href="" data-ng-click="closeFilterPanel()" class="cls-btn icon-cancel"></a>
      <span class="image-filter-text">rekommenderade datasamlingar</span>
      <swe-image-filter></swe-image-filter>
    </div>

    <!-- Search filters -->
    <div class="site-filter-section-wrapper">
      <div class="site-filter-section">
        <div class="site-geo-type-filter">
          <span class="filter-label" data-translate="">searchShowOnly</span>
          <ul class="type-filter-list">
            <li>
              <a href="" data-ng-click="toggleMapResources()"
                 data-ng-class="{'active': (searchObj.params.dynamic == 'true')}">
                <span class="icon-map"></span>karttjänster</a>
            </li>
            <li>
              <a href="" data-ng-click="toggleDownloadResources()"
                 data-ng-class="{'active': (searchObj.params.download == 'true')}"><span class="download-icn-cont">
                <span class="icon-down-fat"></span></span>Direktåtkomliga resurser</a>
            </li>
            <li><a href="" data-ng-click="toggleFavorites()"
                   data-ng-class="{'active': (searchObj.params._id != '') && (searchObj.params._id != undefined)}"><span class="icon-star"></span>favoriter</a></li>
            <li><a href=""><span class="icon-eye"></span>geoteknik</a></li>
          </ul>
          <div class="other-filters">
            <a href="" data-ng-click="viewAllMetadata()" class="fltr-link resource-link" data-translate="">viewAllResources</a>
            <a href="" data-ng-click="toggleAdvancedOptions()" class="fltr-link advance-link"data-translate="">viewAdvance</a>

            <div data-swe-tooltip=""
                 data-title="{{ 'advancedSearchTooltip-title' | translate }}"
                 data-text="{{ 'advancedSearchTooltip-desc' | translate }}"
                 data-link="{{ 'advancedSearchTooltip-link' | translate }}"></div>
          </div>
        </div>
        <div class="filter-options-cont">
          <div class="basic-filters-cont active">
            <ul class="geo-categories">
              <li data-ng-repeat="topic in topicCategories | orderBy: orderByTranslated"
                  data-ng-click="toggleTopicCategory(topic)"
                  data-ng-class="{'active': isTopicCategorySelected(topic)}"><a href="" data-translate="">{{topic}}</a></li>
            </ul>
          </div>

          <!-- Advanced panel -->
          <div class="advance-filters-cont">
            <div class="advance-filter">
              <div class="date-filter">
                <div class="left-side-filter" id="abId0.901597265871972" abineguid="B24E06EA694549E08380FB3D35F8BC85">
                  <div class="filter-colm" id="abId0.3915931191863504">
                    <label data-translate="searchFromDate"></label>
                    <div class="custom-fld-cont" id="abId0.891437811112971">
                      <input type="date" placeholder="åååå-mm-dd" data-ng-model="searchObj.params.resourceDateFrom" data-ng-change="triggerSearch()">
                      <!--<span class="icon-calendar-empty"></span>-->
                    </div>
                  </div>
                  <div class="filter-colm till-date-colm" id="abId0.746339667914671">
                    <label data-translate="searchToDate"></label>
                    <div class="custom-fld-cont" id="abId0.5676842456397708">
                      <input type="date" placeholder="åååå-mm-dd" data-ng-model="searchObj.params.resourceDateTo" data-ng-change="triggerSearch()">
                      <!--<span class="icon-calendar-empty"></span>-->
                    </div>
                    <div data-swe-tooltip=""
                         data-title="{{ 'dateFilterTooltip-title' | translate }}"
                         data-text="{{ 'dateFilterTooltip-desc' | translate }}"
                         data-link="{{ 'dateFilterTooltip-link' | translate }}"></div>
                  </div>
                </div>
                <div class="right-side-filter">
                  <div class="filter-colm geo-filter-cont" id="abId0.6149162834088198">
                    <label data-translate="searchGeographicFilter"></label>
                    <div class="live-search-dd-cont" id="abId0.436428290830839">
                      <div class="custom-fld-cont" id="abId0.04694894537269523" abineguid="642F5A31C48A429E83484111F435AA09">
                        <span class="icon-search"></span>
                        <input type="text" placeholder="" class="live-search-query">
                      </div>
                      <ul class="live-search-cont">
                        <li><a href="">malmo<span>kommun</span></a></li>
                        <li><a href="">malmo<span>kommun</span></a></li>
                        <li><a href="">malmo<span>kommun</span></a></li>
                        <li><a href="">malmo<span>kommun</span></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="filter-colm draw-map-link-colm">
                    <a href="" class="fltr-link draw-map-link">Rita på karta</a>
                    <div data-swe-tooltip=""
                         data-title="{{ 'geographicalFilterTooltip-title' | translate }}"
                         data-text="{{ 'geographicalFilterTooltip-desc' | translate }}"
                         data-link="{{ 'geographicalFilterTooltip-link' | translate }}"></div>
                  </div>
                </div>
              </div>

              <!-- Facets -->
              <div data-ng-show="searchResults.records.length > 0"
                   data-swe-facet-dimension-list="searchResults.dimension"
                   data-params="searchObj.params"
                   data-facet-type="facetsSummaryType"
                   data-current-facets="currentFacets">
              </div>

              <div data-swe-tooltip=""
                   data-title="{{ 'facetsFilterTooltip-title' | translate }}"
                   data-text="{{ 'facetsFilterTooltip-desc' | translate }}"
                   data-link="{{ 'facetsFilterTooltip-link' | translate }}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span class="hr"></span>
  </div>
</div>

<div class="site-filter-result-cont">
  <div class="data-result-cont">
    <span class="result-text" data-ng-show="searchResults.count >= 0"><span data-translate="">shows</span> <b>{{searchResults.count}}</b> <span data-translate="">results</span></span>
    <ul class="selected-filter-list">
      <li data-ng-show="searchObj.params.resourceDateFrom">
        <a href="" data-ng-click="unselectResourceDateFrom()">
          <span>from date {{searchObj.params.resourceDateFrom | date : 'dd/MM/yyyy'}}</span>
          <span class="icon-cancel"></span>
        </a>
      </li>
      <li data-ng-show="searchObj.params.resourceDateTo != undefined">
        <a href="" data-ng-click="unselectResourceDateTo()">
          <span>to date {{searchObj.params.resourceDateTo | date : 'dd/MM/yyyy'}}</span>
          <span class="icon-cancel"></span>
        </a>
      </li>
      <li data-ng-show="searchObj.params.dynamic == 'true'">
        <a href="" data-ng-click="unselectMapResources()">
          <span>karttjänster</span>
          <span class="icon-cancel"></span>
        </a>
      </li>
      <li data-ng-show="searchObj.params.download == 'true'">
        <a href="" data-ng-click="unselectDownloadResources()">
          <span>Direktåtkomliga resurser</span>
          <span class="icon-cancel"></span>
        </a>
      </li>
      <li data-ng-show="(searchObj.params._id != '') && (searchObj.params._id != undefined)">
        <a href="" data-ng-click="unselectFavoriteResources()">
          <span>favoriter</span>
          <span class="icon-cancel"></span>
        </a>
      </li>
      <li data-ng-repeat="topic in selectedTopicCategories | orderBy: orderByTranslated">
        <a href="" data-ng-click="unselectTopicCategory(topic)">
          <span data-translate="">{{topic}}</span>
          <span class="icon-cancel"></span>
        </a>
      </li>

    </ul>
    <a href="" data-ng-click="toggleFilterPanel()" class="filter-toggle-link opens-filter-section"><span data-translate="">showFiltering</span> <span class="icon-up-dir"></span><span class="icon-down-dir"></span></a>
  </div>
</div>
