<div class="header-cont">
  <div class="header-left-cont">
    <a href="" data-swe-show-dialog="" data-dialog="#mail-popup" data-focus-control="#inputName" class="header-leave-comment header-text">
      <span class="text">tyck till</span>
    </a>
    <a href="http://geonetwork-opensource.org/manuals/trunk/eng/users/index.html" class="header-help header-text">
      <span class="icon-help"></span>
      <span class="text">hjälp</span>
    </a>
  </div>
  <a href="" class="logo"><img src="../../catalog/views/swe/images/geo-logo.png"></a>
  <div class="header-right-cont">
    <div class="dropdown-cont other-geodata-cont">
      <div class="-label"><span class="icon-dot-3"></span>Andra geodatatjänster <span class="icon-down-dir"></span></div>
      <ul class="-list">
        <li><a href="geodata_row_popup.html" class="-text-link">get-tjänster</a></li>
      </ul>
    </div>
    <a data-swe-show-dialog="" data-dialog="#login-popup" data-focus-control="#inputUsername" data-ng-show="!authenticated && service !== 'catalog.signin'" data-ng-keypress="$event" href="" class="header-login header-text login-popup-link">
      för publicerare
    </a>

    <a data-swe-show-dialog="" data-dialog="#newmetadata-popup" data-ng-show="authenticated" href="" class="header-login header-text login-popup-link">
      new metadata
    </a>

    <a data-ng-show="authenticated" href="admin.console" class="header-admin header-text">
      administration
    </a>

    <a data-ng-show="authenticated" href="../../j_spring_security_logout" class="header-logout header-text">
      logout
    </a>
  </div>
</div>
