<div class="header-cont">
  
  <div class="header-left-cont">
    <a href="https://www.geodata.se" target="_blank" class="logo">
      <img src="../../catalog/views/swe/images/geo-logo.png">
    </a>
  </div>

  <div class="header-middle-cont">
    <a href="" data-swe-show-dialog="" data-dialog="#mail-popup" data-focus-control="#inputName" class="header-leave-comment header-text">
      <span class="text hidden-xs">tyck till</span>
    </a>
    <div class="dropdown-cont other-geodata-cont" data-swe-toggle-style="">
      <div class="-label"><span class="icon-dot-3"></span>
        <span class="hidden-xs" data-translate="">otherGeodata</span><span class="icon-down-dir"></span>
      </div>
      <ul class="-list">
        <li><a href="geodata_row_popup.html" class="-text-link">get-tjänster</a></li>
      </ul>
    </div>
    <a data-ng-show="!authenticated && service !== 'catalog.signin'" data-ng-keypress="$event" href="../../login" class="header-login header-text">
      <span class="hidden-xs">för publicerare</span>
    </a>

    <a data-swe-show-dialog="" data-dialog="#newmetadata-popup" data-ng-show="authenticated" href="" class="header-login header-text login-popup-link">
       <span class="hidden-xs hidden-sm" data-translate="">createMetadata-menu</span>
    </a>

    <a data-ng-show="authenticated" href="admin.console" class="header-admin header-text">
      <span class="hidden-xs hidden-sm">administration</span>
    </a>

    <a data-ng-show="authenticated" href="" data-ng-click="logout()" data-ng-controller="SweLogoutController" class="header-logout header-text">
      <span class="hidden-xs hidden-sm">logout</span>
    </a>
  </div>

  <div class="header-right-cont">
    <a href="" class="header-menu header-text">      
      meny
    </a>
  </div>
</div>
