<html lang="en" xmlns="http://www.w3.org/1999/html">

<div>

  <div data-ng-controller="GnSearchController" data-ng-search-form="" data-runSearch="true">
    <div data-ng-controller="gnsSwe">
      <div>
		<header data-ng-include="'../../catalog/views/swe/templates/header.html'" data-ng-controller="SweFilterPanelController"></></header>
	  </div>
	</div>
  </div>

  <div data-gn-alert-manager="" data-ng-init="init()"></div><cookiewarning></cookiewarning>

  <div class="overlay"></div>

  <!-- Mail comment popup -->
  <div id="mail-popup" class="popup mail-popup" data-ng-controller="SweMailController">
    <div class="popup-cont">
      <a href="" data-ng-click="close()" class="cls-btn icon-cancel"></a>
      <div class="popup-data">
        <div class="mail-data-cont">
          <div class="mail-data">
            <div class="mail-section-cont">
              <div class="mail-section">
                <h1 data-translate="">leaveComment</h1>
                <!-- <p data-translate="">leaveComment</p> -->

                <div id="mail-feedback-result" data-ng-show="(feedbackResult != null) && (feedbackResultError == false)">
                  <p>{{feedbackResult}}</p>

                  <div class="btn-cont">
                    <div class="mail-actions-cont">
                      <a href="" class="link-btn publisher-user-login-btn" data-ng-click="close()"data-translate="">cancel</a>
                    </div>
                  </div>
                </div>

                <div id="mail-form" data-ng-show="(feedbackResult == null) || (feedbackResultError == true)">
                  <div class="alert alert-danger" data-ng-show="feedbackResultError == true">{{feedbackResult}}</div>
                  <form name="feedbackForm" class="mail-form" novalidate>

                    <!-- NAME -->
                    <div data-ng-class="{'form-row': true, 'has-error' : feedbackForm.name.$invalid && !feedbackForm.name.$pristine }">
                      <label data-translate="">name</label>
                      <input type="text" class="input" name="name" ng-model="user.username" required>
                      <span class="errorField" data-ng-show="feedbackForm.name.$invalid && !feedbackForm.name.$pristine" class="help-block" data-translate="">nameMissing</span>
                    </div>

                    <!-- EMAIL -->
                    <div data-ng-class="{'form-row': true, 'has-error' : feedbackForm.email.$invalid && !feedbackForm.email.$pristine }">
                      <label data-translate="">email</label>
                      <input type="email" class="input" name="email" ng-model="user.email" required>
                      <span class="errorField" data-ng-show="feedbackForm.email.$invalid && !feedbackForm.email.$pristine" class="help-block" data-translate="">invalidEmail</span>
                    </div>

                    <!-- COMMENT -->
                    <div data-ng-class="{'form-row': true, 'has-error' : feedbackForm.comment.$invalid && !feedbackForm.comment.$pristine }">
                      <label class="label-text-area" data-translate="">comments</label>
                      <textarea class="textarea" name="comment" ng-model="user.comments" required></textarea>
                      <span class="errorField" data-ng-show="feedbackForm.comment.$invalid && !feedbackForm.comment.$pristine" class="help-block" data-translate="">commentMissing</span>
                    </div>
                  </form>

                  <div class="btn-cont">
                    <div class="mail-actions-cont">
                      <a href="" class="link-btn publisher-user-login-btn" data-ng-click="sendMail()" data-ng-disabled="!feedbackForm.$valid" data-translate="">sendComment</a>
                      <a href="" class="link-btn publisher-user-login-btn" data-ng-click="close()"data-translate="">cancel</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
 <!--    <!-- Help page popup -->
<!--   <div style="height:300px" dragable id="help-popup" role="dialog" class="popupHelp help-popup" data-ng-controller="SweHelpController">
    <div class="popup-cont">
      <div style="height:50px">
         <a href="" data-ng-click="close()" class="cls-btn icon-cancel"></a>
      </div>
      <div>
        <iframe width="100%" style="height:300px" src="{{trustSrc(link)}}">
		  <p>Your browser does not support iframes.</p>
	    </iframe>
	  </div>
	  <button data-ng-click="close()" class="btn">Close</button>
    </div> -->
    
        <!-- Help page popup -->
  <div id="help-popup" class="popupHelp help-popup" dragable="" data-ng-controller="SweHelpController">
    <div class="popup-cont">
      <div class="popup-cont-header">
         <a href="" data-ng-click="close()" class="cls-btn icon-cancel"></a>
      </div>
      <div>
        <iframe src="{{trustSrc(link)}}">
		  <p>Your browser does not support iframes.</p>
	    </iframe>
	  </div>
	  <button data-ng-click="close()" class="btn" data-translate="">popupClose</button>
    </div>
  </div>


  
  <!-- Create metadata popup -->
  <div id="newmetadata-popup" class="popup mail-popup" data-ng-controller="SweNewMetadataController">
    <div class="popup-cont">
      <a href="" data-ng-click="close()" class="cls-btn icon-cancel"></a>
      <div class="popup-data">
        <div class="mail-data-cont">
          <div class="mail-data">
            <div class="mail-section-cont">
              <div class="mail-section">
                <h1 data-translate="">createMetadata-title</h1>

                <div class="margin-bottom-small">
                  <span class="label">
                    {{'createMetadata-desc' | translate }}:</span>

                  <div data-swe-tooltip=""
                       data-title="{{ 'createMetadataTemplateTooltip-title' | translate }}"
                       data-text="{{ 'createMetadataTemplateTooltip-desc' | translate }}"
                       data-link="{{ 'createMetadataTemplateTooltip-link' | translate }}"></div>
                </div>

                <form name="newMetadataForm" novalidate>
                  <div data-ng-repeat="tpl in tpls">
                    <label>
                      <input type="radio" name="gn-record-type" id="radio-{{type}}" value="{{type}}"
                             data-ng-click="setActiveTpl(tpl)"
                             data-ng-checked="tpl==activeTpl"
                             class="ngr-radio"/>
        <span class="ngr-radio-label">
          {{tpl.title || tpl.defaultTitle}}
        </span>
                    </label>
                  </div>

                  <div class="row" data-ng-show="groups && groups.length > 0">
                    <label class="control-label ngr-md-label">
                      <span data-translate="">createMetadata-group</span>:

                      <div data-swe-tooltip=""
                           data-title="{{ 'createMetadataGroupTooltip-title' | translate }}"
                           data-text="{{ 'createMetadataGroupTooltip-desc' | translate }}"
                           data-link="{{ 'createMetadataGroupTooltip-link' | translate }}"></div>

                      <!-- <strong>{{(ownerGroup.label[lang] || '...') | translate}}</strong> -->
                    </label>

                    <div data-groups-combo="" data-owner-group="ownerGroup" lang="lang"
                         data-groups="groups" data-profile="Editor" data-exclude-special-groups="true"/>
                  </div>

                  <div class="btn-cont">
                    <div class="mail-actions-cont">
                      <a href="" class="link-btn publisher-user-login-btn" data-ng-click="createNewMetadata()" data-ng-disabled="!newMetadataForm.$valid" data-translate="">createMetadata-create</a>
                      <a href="" class="link-btn publisher-user-login-btn" data-ng-click="close()" data-translate="">createMetadata-cancel</a>
                    </div>
                  </div>

                </form>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div data-ng-controller="GnSearchController">
    <div class="main-wrapper" data-ng-controller="gnsSwe">
      <div class="site-wrapper" data-ng-search-form=""
           data-runSearch="true">
        <!-- Filters -->
            <!-- Predefined search filters -->
        <div class="site-image-filter">
 	      <span class="image-filter-text"  ng-hide="collapsed" data-translate="">predefinedMapsTitle</span>
		  <div class="image-filter-container"> 
		    <a href=""  id="predefmapsArrow" data-ng-click="resizeCheck()" ng-class="{'cls-btn icon-down-dir': collapsed, 'cls-btn icon-up-dir': !collapsed}"></a>
	        <div id="imageFilter"  data-swe-predefined-maps-filter 
	           ng-hide="collapsed"
	           data-config-url="{{predefinedMapsUrl}}"
	           data-show-map-fn="showFullMapPanel"
	           data-show-map-fn-api="showFullMapPanelApi"
			   data-selected-map="{{selectedPredefinedMap}}"
               data-is-image-clicked="is_image_clicked"
             >
	        </div>
		  </div>
        </div>
        <div data-ng-include="'../../catalog/views/swe/templates/filters.html'" data-ng-controller="SweFilterPanelController"></div>

        <div class="site-content">
          <!-- Map -->
          <div class="floating-map" data-gn-map-field="searchObj.searchMap"
               data-template-url="../../catalog/views/swe/directives/partials/mapfield.html"
               data-gn-map-field-geom="searchObj.params.geometry"
               data-gn-map-field-opt="searchObj.mapfieldOption"></div>

          <!-- Search form -->
          <div data-ng-include="'../../catalog/views/swe/templates/searchForm.html'"></div>

          <div class="geo-data-list-cont">
              <!-- Sort and change view -->
              <div class="list-filter-cont">
                <div class="sort-filter-cont">
                  <div class="sort-filter">
                    <span class="sort-filter-label" data-translate="">sortBy</span>
                    <div class="filter-cont">

                       <div data-swe-sortby-combo=""
                         data-params="searchObj.params"
                         data-swe-sortby-values="searchObj.sortbyValues"></div>

                    </div>
                  </div>
                </div>
                <div data-gn-pagination="paginationInfo"
                     data-hits-values="searchObj.hitsperpageValues"
                    class="pagination-cont"
                     data-enable-hot-keys=""></div>

                <div class="loggedin-filter-link-cont">
                  <a href="">skapa ny metadatapost</a>
                  <a href="">export data</a>
                </div>
                <div class="alternate-views">
                  <ul>
                    <li><div class="list-view-btn detail-view active" data-ng-click="setFullViewResults()"><span></span></div></li>
                    <li><div class="list-view-btn compact-view" data-ng-click="setCompactViewResults()"><span></span></div></li>
                  </ul>
                </div>
              </div>

              <!-- Results -->
              <div data-ng-include="'../../catalog/views/swe/templates/resultList.html'" />
              
              <!-- Show Pagination at bottom of results -->
              <span>
                <div data-gn-pagination="paginationInfo"
                     data-hits-values="searchObj.hitsperpageValues"
                     class="pagination-cont"
                     data-enable-hot-keys="">
                </div>
              </span>

            </div>

          <!-- Result popup -->
          <div data-ng-include="'../../catalog/views/swe/templates/result.html'" />
        </div>
      </div>

      <div class="site-side-map-cont" data-ng-search-form="">
        <div class="site-side-map-wrapper">
          <!-- Full map -->
          <div class="map-cont">
            <ul class="map-tool-list" style="z-index: 1000">
              <!--<li class=""><a href="" class="icon-buffer"></a></li>-->
              <li data-ng-show="!mapFullView" id="map-panel-resize" class="resize full">
                 <a href="" data-ng-click="resizeMapPanel()">
                    <span class="icon-cursor">
                    </span>
                 </a>
              </li>
              <li data-ng-show="mapFullView" id="map-panel-resize-max">
                 <a href="" data-ng-click="resizeMapPanel()">
                    <span class="onMaximised">
                    </span>
                 </a>
              </li>
              <li data-ng-show="!mapFullView" id="map-panel-resize-medium">
                 <a href="" data-ng-click="hideMapPanel()">
                    <span class="onMediumSized">
                    </span>
                 </a>
              </li>
            </ul>
            <div gn-main-viewer=""
                 data-map="searchObj.viewerMap">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-bar" data-ng-include="'../../catalog/views/swe/templates/footer.html'"></div>

</div>
