<html lang="en" xmlns="http://www.w3.org/1999/html">

<div>

  <header data-ng-include="'../../catalog/views/swe/templates/header.html'"></header>

  <div data-gn-alert-manager=""></div><cookiewarning></cookiewarning>

  <div class="overlay"></div>

  <!-- Login popup -->
  <div id="login-popup" class="popup login-popup" data-ng-controller="SweLoginController">
    <div class="popup-cont">
      <a href="" data-swe-hide-dialog="" data-dialog="#login-popup" class="cls-btn icon-cancel"></a>
      <div class="popup-data">
        <div class="login-section-cont">
          <div class="login-section">
            <h1>Logga in på Geodataportalen</h1>
            <p>Användarkonto till Geodataportalen behövs bara om du är publicerare. Är du redan det logga in nedan.</p>

              <form class="login-form" abineguid="63019F15C9C54502A51867AC03621D44"
                    name="gnSigninForm" action="{{formAction}}"
                    data-ng-if="user['@authenticated'] != 'true'" novalidate="novalidate">
                <div class="form-row">
                  <label>Användarnamn</label>
                  <input type="text" class="input" id="inputUsername" name="username"
                         data-ng-model="formData.username" placeholder="{{'username' | translate}}" required=""/>
                </div>
                <div class="form-row">
                  <label>lösenord</label>
                  <input type="password" class="input"  id="inputPassword" name="password"
                         data-ng-model="formData.password" placeholder="{{'password' | translate}}" required="" />
                </div>
              </form>
              <div class="btn-cont">
                <div class="remember-login-cont">
                  <div class="cb-cont checked"><div class="cb"><span class="icon-ok"></span><input type="checkbox"></div><span class="text">Håll mig inloggad</span></div>
                  <a href="" class="link-btn publisher-user-login-btn" data-ng-click="login()" data-ng-disabled="!gnSigninForm.$valid">Logga in</a>
                </div>
              </div>
            </div>
          <div class="login-footer">
            <a href="" class="login-help-link"><span class="icon-help-1"></span>glömt lösenord</a>
            <a href="" class="login-plus-link"><span class="icon-plus"></span>skapa konto</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Mail comment popup -->
  <div id="mail-popup" class="popup mail-popup" data-ng-controller="SweMailController">
    <div class="popup-cont">
      <a href="" data-ng-click="close()" class="cls-btn icon-cancel"></a>
      <div class="popup-data">
        <div class="mail-data-cont">
          <div class="mail-data">
            <div class="mail-section-cont">
              <div class="mail-section">
                <h1>Tyck Till</h1>
                <p>Tyck Till ...</p>

                <div id="mail-feedback-result" data-ng-show="(feedbackResult != null) && (feedbackResultError == false)">
                  <p>{{feedbackResult}}</p>

                  <div class="btn-cont">
                    <div class="mail-actions-cont">
                      <a href="" class="link-btn publisher-user-login-btn" data-ng-click="close()">close</a>
                    </div>
                  </div>
                </div>

                <div id="mail-form" data-ng-show="(feedbackResult == null) || (feedbackResultError == true)">
                  <div class="alert alert-danger" data-ng-show="feedbackResultError == true">{{feedbackResult}}</div>
                  <form name="feedbackForm" class="mail-form" novalidate>

                    <!-- NAME -->
                    <div data-ng-class="{'form-row': true, 'has-error' : feedbackForm.name.$invalid && !feedbackForm.name.$pristine }">
                      <label>Name</label>
                      <input type="text" class="input" name="name" ng-model="user.username" required>
                      <span class="errorField" data-ng-show="feedbackForm.name.$invalid && !feedbackForm.name.$pristine" class="help-block">You name is required.</span>
                    </div>

                    <!-- EMAIL -->
                    <div data-ng-class="{'form-row': true, 'has-error' : feedbackForm.email.$invalid && !feedbackForm.email.$pristine }">
                      <label>Email</label>
                      <input type="email" class="input" name="email" ng-model="user.email" required>
                      <span class="errorField" data-ng-show="feedbackForm.email.$invalid && !feedbackForm.email.$pristine" class="help-block">Enter a valid email.</span>
                    </div>

                    <!-- COMMENT -->
                    <div data-ng-class="{'form-row': true, 'has-error' : feedbackForm.comment.$invalid && !feedbackForm.comment.$pristine }">
                      <label class="label-text-area">Comment</label>
                      <textarea class="textarea" name="comment" ng-model="user.comments" required></textarea>
                      <span class="errorField" data-ng-show="feedbackForm.comment.$invalid && !feedbackForm.comment.$pristine" class="help-block">Your comment is required.</span>
                    </div>
                  </form>

                  <div class="btn-cont">
                    <div class="mail-actions-cont">
                      <a href="" class="link-btn publisher-user-login-btn" data-ng-click="sendMail()" data-ng-disabled="!feedbackForm.$valid">Send comment</a>
                      <a href="" class="link-btn publisher-user-login-btn" data-ng-click="close()">cancel</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div data-ng-controller="GnSearchController">
    <div class="main-wrapper" data-ng-controller="gnsSwe">
      <div class="site-wrapper" data-ng-search-form=""
           data-runSearch="true">
        <!-- Filters -->
        <div data-ng-include="'../../catalog/views/swe/templates/filters.html'" data-ng-controller="SweFilterPanelController"></div>

        <div class="site-content">
          <!-- Map -->
          <!--<div class="floating-map-cont">
            <div class="floating-map">
              <span class="cursor-cont"><span class="icon-cursor"></span></span>
              <div class="map-img"></div>
            </div>
          </div>-->

          <div class="floating-map" data-gn-map-field="searchObj.searchMap"
               data-template-url="../../catalog/views/swe/directives/partials/mapfield.html"
               data-gn-map-field-geom="searchObj.params.geometry"
               data-gn-map-field-opt="searchObj.mapfieldOption"></div>

          <!-- Search form -->
          <div data-ng-include="'../../catalog/views/swe/templates/searchForm.html'"></div>

          <div class="geo-data-list-cont">
              <!-- Sort and change view -->
              <div class="list-filter-cont">
                <div class="sort-filter-cont">
                  <div class="sort-filter">
                    <span class="sort-filter-label">Sortera efter:</span>
                    <div class="filter-cont"
                         data-swe-toggle-style="">

                       <div data-swe-sortby-combo=""
                         data-params="searchObj.params"
                         data-swe-sortby-values="searchObj.sortbyValues"></div>

                    </div>
                  </div>
                </div>
                <div data-gn-pagination="paginationInfo"
                     data-hits-values="searchObj.hitsperpageValues"
                    class="pagination-cont"
                     data-enable-hot-keys=""></div>

                <div class="loggedin-filter-link-cont">
                  <a href="">skapa ny metadatapost</a>
                  <a href="">export data</a>
                </div>
                <div class="alternate-views">
                  <ul>
                    <li><div class="list-view-btn detail-view active" data-ng-click="setFullViewResults()"><span></span></div></li>
                    <li><div class="list-view-btn compact-view" data-ng-click="setCompactViewResults()"><span></span></div></li>
                  </ul>
                </div>
              </div>

              <!-- Results -->
              <div data-ng-include="'../../catalog/views/swe/templates/resultList.html'" />
            </div>

          <!-- Result popup -->
          <div data-ng-include="'../../catalog/views/swe/templates/result.html'" />
        </div>
      </div>

      <div class="site-side-map-cont">
        <div class="site-side-map-wrapper">
          <!-- Full map -->
          <div class="map-cont">
            <ul class="map-tool-list" style="z-index: 1000">
              <li><a href="" data-ng-click="hideMapPanel()" class="icon-cancel"></a></li>
              <!--<li class=""><a href="" class="icon-buffer"></a></li>-->
              <li id="map-panel-resize" class="resize full"><a href="" data-ng-click="resizeMapPanel()"><span class="icon-resize-full"></span><span class="icon-resize-small"></span></a></li>
            </ul>
            <div gn-main-viewer=""
                 data-map="searchObj.viewerMap">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-bar" data-ng-include="'../../catalog/views/swe/templates/footer.html'"></div>

</div>
