 <div class="geo-data-serach-filter">
  <form class="serach-filter-form" role="form" abineguid="923DA19A4A224CD8B311AEC932BD9BBA">
    <div class="input-fld-wrapper">
      <span class="icon-search"></span>
      <input type="text" placeholder="{{ 'freeTextPlaceholder' | translate}}"
             id="gn-any-field"
             data-ng-model="searchObj.params.any"
             data-ng-model-options="modelOptionsForm"
             data-ng-keyup="$event.keyCode == 13 && triggerSearch()"
             data-typeahead="address for address in getAnySuggestions($viewValue)"
             data-typeahead-loading="anyLoading"
             data-typeahead-min-length="1"
             data-typeahead-focus-first="false">
    </div>
  </form>
</div>
