
<div class="category-filter">
  <div class="pure-g">
    <div class="category-filter-colm-cont pure-u-1-1 pure-u-md-1-3">
      <span class="filter-header">Organisation</span>

      <div class="gn-facet-list category-filter-colm">
        <div data-ng-repeat="f in dimension | filter:{ '@name': 'orgNameOwner' }"
             class="gn-facet gn-facet-{{f['@label']}}"
             data-ng-show="f.category">

          <div data-swe-facet-dimension-category="f.category"
               data-category-key="f['@label']"
               data-params="params"
               data-facet-config="facetConfig"
               data-ng-class="{'collapse': collapsed}">
          </div>
        </div>
      </div>
    </div>
    <div class="category-filter-colm-cont pure-u-1-1 pure-u-md-1-3">
      <span class="filter-header">Topic category</span>
      <div class="category-filter-colm">
        <div class="gn-facet-list category-filter-colm">
          <div data-ng-repeat="f in dimension | filter:{ '@name': 'topicCat' }"
               class="gn-facet gn-facet-{{f['@label']}}"
               data-ng-show="f.category">

            <div data-swe-facet-dimension-category="f.category"
                 data-category-key="f['@label']"
                 data-params="params"
                 data-facet-config="facetConfig"
                 data-ng-class="{'collapse': collapsed}">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="category-filter-colm-cont pure-u-1-1 pure-u-md-1-3">
      <span class="filter-header">Keyword</span>

      <div class="gn-facet-list category-filter-colm">
        <div data-ng-repeat="f in dimension | filter:{ '@name': 'initiativKeyword' }"
             class="gn-facet gn-facet-{{f['@label']}}"
             data-ng-show="f.category">

          <div data-swe-facet-dimension-category="f.category"
               data-category-key="f['@label']"
               data-params="params"
               data-facet-config="facetConfig"
               data-ng-class="{'collapse': collapsed}">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
