<ul class="img-list">
    <li data-ng-repeat="map in predefinedMaps | orderBy: 'position'" data-ng-if="map.enabled">
        <div data-ng-mouseenter="hovering=true" title="{{map.description}}" data-ng-mouseleave="hovering=false" data-ng-click="doView(map)">
            <div  class="bg-img" data-ng-style="{'background-image':'url({{map.link}})'}"></div>
            <div class="tool-tip-cont">
                <div class="tool-tip">
                    <span class="triangle"></span>
                    <h2>Tooltip</h2>
                    <p>{{map.description}}</p>
                </div>
            </div>
            <span class="filter-text">{{map.title}}</span>
        </div>
    </li>
</ul>